<div class="card-feed" (click)="redirectToPost($event)">
  <div class="post-header">
    <div (click)="redirectToUser(userId)" class="user-avatar">
      <img *ngIf="profilePicture" src="{{profilePicture}}" alt="">
    </div>
    <div class="card-action-container">
      <div class="user-info">
        <div class="user-names">
          <div (click)="redirectToUser(userId)" class="display-name">{{displayName}}</div>
          <div class="username">@{{username}}</div>
        </div>
        <div class="post-time">{{formatRelativeTime(createdAt)}}</div>
      </div>
      <div>
        <button *ngIf="authUser.id == userId" mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deletePost()">
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="content">
    {{content}}
  </div>
  <div class="actions-container">
    <div class="action">
      <i (click)="handleLike()" [ngClass]="liked ? 'fa-solid fa-heart post-liked' : 'fa-solid fa-heart'"></i>
      <small>{{likesCount}}</small>
    </div>
    <div class="action">
      <i class="fa-solid fa-comment"></i>
      <small>{{repliesCount}}</small>
    </div>
  </div>
</div>
