.settings-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.settings-item {
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-item h4 {
  margin-right: 10px;
}

mat-slide-toggle {
  margin-left: 10px;
}
