section {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 2fr) 1fr; /* Define três colunas */
  grid-gap: 20px; /* Espaçamento entre colunas */
  margin: 0 10rem;
  height: 100vh;
  background: #F1F5F9;
}

a {
  color: black;
}


.friend-card-look-more {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  a {
    color: #FFBB55;
    text-decoration: #FFBB55;
  }

}

.columConfig {
  //background-color: rgba(105, 158, 215, 0.73);
  background: #F1F5F9;
  border-right: 5px solid white;
  padding: 20px;
  position: sticky;
  top: 0;
  //height: calc(100vh - 40px);
  height: 100vh;
  overflow-y: auto;
}

.columFeed {
  background: #F1F5F9;
  padding: 20px 0;
  overflow-y: auto;
}

.teste {
  padding-top: 1rem;
}

.container-faculdade {
  max-width: 100%;

  img{
    width: 100%;
    border: 2px solid #FFBB55;
  }
}




//.active-link{
//  color: #FFBB55;
//  width: 100%;
//  height: 2rem;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  cursor: pointer;
//}

.friend-container {
  margin-top: 2rem;
  //padding: 0 20px;
}

.friend-header h4 {
  font-size: 16px;
  margin: 0;
}

.friend-card {
  padding-top: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


  i{
    font-size: 1.5rem;
  }

}



.friend-info{
  width: 60%;
  height: 2rem;
  display: flex;


  p{
    padding-left: 5px;
  }
}

.friend-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.friend-info p {
  font-size: 16px;
  margin: 0;
}

.follow-button-check {
  //background-color: #55ae6f;
  background-color:#FFBB55;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}


.follow-button {
  background-color: #3270B4;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}

.follow-button i {
  margin: .1rem;
}

.follow-button:hover {
  background-color: #2980b9;
}


.columExplorer {
  //background-color: rgba(105, 158, 215, 0.73);
  background: #F1F5F9;
  border-left: 5px solid white;
  padding: 20px;
  position: sticky;
  top: 0;
  //height: calc(100vh - 40px);
  height: 100vh;
  overflow-y: auto;
}

.columFeed::-webkit-scrollbar {
  width: 12px;
}

.columFeed::-webkit-scrollbar-thumb {
  //background: #3270B4;

  //border-left: 4px solid #faf6ed;
  //border-right: 4px solid #faf6ed;
}

.columFeed::-webkit-scrollbar-track {
  background: #F1F5F9;

}

.title-post {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3270B4;
}

.profile-pic {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 90px;
    height: 90px;
    background-color: #3270B4;
    border: 3px solid #FFBB55;
    border-radius: 100%;
  }
}

.btn-container {
  text-align: end;
}

.operations-profile {
  width: 100%;
  height: 75%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;


  a {
    cursor: pointer;
    width: 100%;
    height: 2.3rem;
    //margin-bottom: 1rem;
    border-radius: .5rem;
    //background: rgba(200, 216, 234, 0.7);
    //color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //a:hover {
  //  background: #FFBB55;
  //  color: white;
  //}

}

.exit-container {
  //width: 100%;
  //height: 2rem;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //cursor: pointer;
  //background: red;

  a {
    color: #FFBB55;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      padding-right: .5rem;
    }
  }

  a:hover {
    color: #FFBB55;
  }
}

.active-link {
  background: #FFBB55;
  color: white;
}

.item-menu {
  width: 100%;
  height: 2.3rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  //background: rgba(200, 216, 234, 0.7);
  //color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-home {
  width: 100%;
  height: 4rem;
  //background: red;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background: white;
  padding: 1rem;
  border: 1px solid #e5dcdc;
  color: #333333;
}

.btn-like-container {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action {
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    margin: 0 .1rem;

    small {
      font-size: .8rem;
      padding-left: .2rem;

    }
  }

  i {
    //color: rgb(249, 24, 128);
    cursor: pointer;
    font-size: 13px;

    small {
      font-size: .5rem;
    }
  }

  i:hover {
    color: rgb(249, 24, 128);
  }


  .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
  }
}


.card-feed {
  width: 100%;
  height: auto;
  background: white;
  padding: 1rem;
  color: #333333;
  border: 1px solid #e5dcdc;
  border-radius: 1rem;
  //margin: 1rem 0;
  margin-bottom: 1rem;
}


.columExplorer {
  color: #333333;
}

.columExplorer h4::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-right: 10px;
  border-radius: .5rem;
  background: #FB5;
}

.links-container {
  width: 100%;
  height: 10rem;
  //background: red;

  ul li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
    //border-radius: .5rem;
    background: #FB5;
  }

  ul {
    padding-top: 1rem;

    li {
      list-style: none;
    }

    a {
      color: #333333;;
    }

    a:hover {
      color: #FB5;
    }

  }

  .follow-button-check {
    //background-color: #55ae6f;
    background-color: #FFBB55;
    color: #fff;
    text-align: center;
    border: none;

    border-radius: 5px;
    padding: 4px 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    i {
      font-size: 1rem;
    }
  }


  .follow-button {
    background-color: #3270B4;
    color: #fff;
    text-align: center;
    border: none;

    border-radius: 5px;
    padding: 4px 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    i {
      font-size: 1rem;
    }
  }

  .follow-button i {
    //margin-right: 5px;
    margin: .1rem;
  }

  .follow-button:hover {
    background-color: #2980b9;
  }


}
