<section>
  <div class="columConfig">
    <div class="profile-pic">
      <img src="{{authUser?.profile?.icon?.url ?? ''}}">
    </div>

    <div class="operations-profile">
      <a routerLink="/home/feed" routerLinkActive="active-link">Feed</a>
      <a routerLink="/home/search" routerLinkActive="active-link">Procurar</a>
      <a routerLink="/home/profile" routerLinkActive="active-link">Perfil</a>
      <a routerLink="/home/explorer" routerLinkActive="active-link">Explore</a>
      <!-- <a routerLink="/home/notification" routerLinkActive="active-link"  >Notificações</a> -->
      <a routerLink="/home/settings" routerLinkActive="active-link">Configurações</a>

    </div>
    <div class="exit-container">
      <a (click)="singOut()" [routerLink]="['']">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Sair</p>
      </a>
    </div>
  </div>
  <div class="columFeed">

    <div class="header-home">
      <h4>Home</h4>
    </div>
    <div class="btn-container">
      <app-btn-global [titleButton]="'Post'" [buttonWidth]="'15%'" (click)="openDialog()"
        [buttonPadding]="'.7rem 1rem'"></app-btn-global>
    </div>
    <div class="teste">
      <router-outlet></router-outlet>

    </div>


  </div>
  <div class="columExplorer">
    <h4>Explore nossa faculdade</h4>
    <div class="links-container">
      <ul>
        <li>
          <a href="https://www.unirv.edu.br/index.php" target="_blank">Universidade de Rio Verde</a>
        </li>

        <li>
          <a href="https://www.unirv.edu.br/vestibular.php" target="_blank">Vestibular 2023</a>
        </li>

        <li>
          <a href="https://www.unirv.edu.br/vestibular.php" target="_blank">Calendário Acadêmico</a>
        </li>


      </ul>
    </div>

    <div>
      <h4>Conheça nossa Faculdade</h4>
      <div class="container-faculdade">
        <img src="assets/unirv.jpg" alt="">
      </div>
    </div>

    <div class="friend-container">
      <div class="friend-header">
        <h4>Conecte-se com Amigos</h4>
      </div>
      <div class="friend-card" *ngFor="let item of user">
        <div class="friend-info">
          <i class="fas fa-user-circle fa-3x"></i>
          <p>{{item?.profile?.displayName}}</p>
        </div>
        <button class="follow-button" (click)="onFollow(item)">
          <i class="fas" [ngClass]="{'fa-user-plus': !item.following, 'fa-user-check': item.following}"></i>
        </button>
      </div>

      <div class="friend-card-look-more" [routerLink]="['explorer']"><a>Veja mais</a></div>
    </div>


  </div>


</section>
