<section>
  <div class="columConfig">
    <div class="profile-pic">
      <img src="https://angular-material.fusetheme.com/assets/images/avatars/brian-hughes.jpg">
    </div>

    <div class="operations-profile">
      <a class="item-menu">Feed</a>
      <a class="item-menu">Explore</a>
      <a class="item-menu">Perfil</a>
      <a class="item-menu">Notificações</a>
      <a class="item-menu">Configurações</a>
    </div>
    <div class="exit-container">
      <a [routerLink]="['']">
        <i class="fa-solid fa-arrow-left"></i>
        <p>Sair</p>
      </a>
    </div>
  </div>
  <div class="columFeed">
    <div class="header-home">
      <h4>Home</h4>
    </div>
    <div class="btn-container">
      <app-btn-global [titleButton]="'Post'" [buttonWidth]="'15%'" (click)="openDialog()"
                      [buttonPadding]="'.7rem 1rem'"></app-btn-global>
    </div>
    <div class="card-feed" *ngFor="let post of posts">
      <div class="title-post">{{post.user?.username}}</div>
      <div>
        {{post.content}}
      </div>
      <div class="btn-like-container">
        <div class="action">
          <i class="fa-solid fa-comment"  (click)="handleComents()"></i>
          <small> {{coments}}</small>
        </div>

        <div class="action">
          <i class="fa-solid fa-heart" (click)="handleLike()"></i>
          <small> {{likes}}</small>
        </div>

        <!--        <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">-->
        <!--          <mat-icon>favorite</mat-icon>-->
        <!--        </a>-->
      </div>
    </div>

  </div>
  <div class="columExplorer">
    <h4>Explore nossa faculdade</h4>
    <div class="links-container">
      <ul>
        <li>
          <a href="https://www.unirv.edu.br/index.php" target="_blank">Universidade de Rio Verde</a>
        </li>

        <li>
          <a href="https://www.unirv.edu.br/vestibular.php" target="_blank">Vestibular 2023</a>
        </li>

        <li>
          <a href="https://www.unirv.edu.br/vestibular.php" target="_blank">Calendário Acadêmico</a>
        </li>


      </ul>
    </div>
  </div>
</section>
