<section>
  <div class="content">
    <div class="container-left">
      <div class="container-welcomes">
        <div class="logo-container">
          <img src="assets/logo-removedBg.png">
        </div>
        <h1>Bem vindo a SesoftUni</h1>
        <p>Conecte-se, compartilhe e explore uma era de interação sem precedentes na Faculdade de Engenharia de
          Software(UniRv).</p>
      </div>
    </div>
    <div class="container-login" *ngIf="viewPage">
      <div class="container-rigth">
        <div class="container-title-login">
          <img src="assets/logo-fasoft.png">
          <h2>Login</h2>
        </div>
        <form class="form-container" [formGroup]="form">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" placeholder="" formControlName="email">
            </mat-form-field>
          </p>
          <p class="position-container">
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="" formControlName="password">
            </mat-form-field>
          </p>
          <app-btn-global *ngIf="!isValidationInProgress" [titleButton]="'Entrar'" (click)="autentication(form)"></app-btn-global>
          <div class="mat-spiner-position" *ngIf="isValidationInProgress">
            <mat-spinner class="mat-primary" strokeWidth="5" [diameter]="40"></mat-spinner>
          </div>
        </form>
        <div class="container-error" *ngIf="errorLogin">
          <div class="login-error">
            <small>Atenção usuário ou senha incorretos</small>
          </div>
        </div>

        <small (click)="changeState()">
          <a>Criar conta</a>
        </small>
      </div>

    </div>

    <div class="container-login" *ngIf="!viewPage">
      <div class="container-rigth">
        <div class="container-title-login">
          <img src="assets/logo-fasoft.png">
          <h2>Cadastre-se</h2>
        </div>
        <app-registration-form></app-registration-form>
        <small (click)="changeState()">
          <a>Login</a>
        </small>
      </div>

    </div>
  </div>

</section>
