.explorer-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F1F5F9;
  cursor: pointer;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  //text-align: center;
}

.event {
  margin: 20px 0;
  padding: 10px 3rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

}
h1{
  color: #3270B4;
}

.event h2 {
  font-size: 18px;
  margin: 0;
  color: #20456d;
}

.event p {
  font-size: 16px;
  margin: 5px 0;
}

.explorer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;

  border-bottom: 1px solid #ddd;
  .user-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 5rem;

  }
}

.event img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.event p {
  margin: 0;
}

.event .displayName {
  color: #3270B4;
  font-weight: bold;
}

.follow-button-check {
  background-color:#FFBB55;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}


.follow-button {
  background-color: #3270B4;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}

.follow-button i {
  //margin-right: 5px;
  margin: .1rem;
}

.follow-button:hover {
  background-color: #2980b9;
}
