<div class="explorer-container">
  <h1>Conheça seus Colegas</h1>
  <div class="event" *ngFor="let user of users" (click)="onProfile(user.id)">
    <!--    <img [class]="picProfile ? picProfile : 'fas fa-user'" alt="User Icon">-->
    <img [src]="user?.profile?.icon?.url ? user?.profile?.icon?.url : 'https://plus.unsplash.com/premium_photo-1683865775631-3283bfaf6508?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fCVDMyVBRGNvbmUlMjBkZSUyMHBlcmZpbHxlbnwwfHwwfHx8MA%3D%3D' ">
    <div class="user-info">
      <p class="displayName">{{user?.profile?.displayName}}</p>
      <p>Email: {{user?.email}}</p>
      <p>Username: {{user?.username}}</p>
    </div>
    <button class="follow-button-check"  *ngIf="user.following" (click)="unFollow(user)">
      <i class="fas fa-user-check" ></i>
    </button>
    <button class="follow-button" *ngIf="!user.following" (click)="onFollow(user)">
      <i class="fas fa-user-plus"></i>
    </button>

  </div>
</div>
