<div class="explorer-container">
  <h1>Conheça seus Colegas</h1>
  <div class="event" *ngFor="let user of users">
    <img [class]="user?.profile?.icon ? '' : 'fas fa-user'" alt="User Icon">
    <div class="user-info">
      <p class="displayName">{{user?.profile?.displayName}}</p>
      <p>Email: {{user?.email}}</p>
      <p>Username: {{user?.username}}</p>
    </div>
    <button class="follow-button" (click)="onFollow(user)">
      <i class="fas" [ngClass]="{'fa-user-plus': !user.following, 'fa-user-check': user.following}"></i>
    </button>
  </div>
</div>
