<div class="explorer-container">
  <h1>Conheça seus Colegas</h1>
  <div class="event" *ngFor="let user of users">
    <img [class]="user?.profile?.icon ? '' : 'fas fa-user'" alt="User Icon">
    <div class="user-info">
      <p class="displayName">{{user?.profile?.displayName}}</p>
      <p>Email: {{user?.email}}</p>
      <p>Username: {{user?.username}}</p>
    </div>
    <button class="follow-button-check"  *ngIf="user.following" (click)="unFollow(user)">
      <i class="fas fa-user-check" ></i>
    </button>
    <button class="follow-button" *ngIf="!user.following" (click)="onFollow(user)">
      <i class="fas fa-user-plus"></i>
    </button>

  </div>
</div>
