.columExplorer {
  background: #F1F5F9;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;

}

.columFeed::-webkit-scrollbar {
  width: 12px;
}

.columFeed::-webkit-scrollbar-track {
  background: #F1F5F9;
}

.title-post {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3270B4;
}

.links-container {
  width: 100%;
  height: 10rem;

  ul li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
    background: #FB5;
  }

  ul {
    padding-top: 1rem;

    li {
      list-style: none;
    }

    //a {
    //  color: #333333;
    //}

    a:hover {
      color: #FB5;
    }
  }

  .follow-button-check,
  .follow-button {
    background-color: #3270B4;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 4px 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    i {
      font-size: 1rem;
    }
  }

  .follow-button-check {
    background-color: #FFBB55;
  }

  .follow-button:hover {
    background-color: #2980b9;
  }
}


.columExplorer {
  color: #333333;
}

.columExplorer h4::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-right: 10px;
  border-radius: .5rem;
  background: #FB5;
}

.columConfig {
  background: #F1F5F9;
  border-right: 5px solid white;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.container-faculdade {
  max-width: 100%;

  img {
    width: 100%;
    border: 2px solid #FFBB55;
  }
}

.friend-container {
  margin-top: 2rem;
}

.friend-header h4 {
  font-size: 16px;
  margin: 0;
}

.friend-card {
  padding-top: 1rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 1.5rem;
  }
}

.friend-info {
  width: 60%;
  height: 2rem;
  display: flex;

  p {
    padding-left: 5px;
  }
}

.friend-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.friend-info p {
  font-size: 16px;
  margin: 0;
}

.follow-button-check,
.follow-button {
  background-color: #3270B4;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i {
    font-size: 1rem;
  }
}

.follow-button-check {
  background-color: #5b5a59;
}

.follow-button:hover {
  background-color: #2980b9;
}
.friend-card-look-more {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  a {
    color: #FFBB55;
  }
}
