.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 16px;
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 1rem;
  border: 2px solid #FFBB55;
  border-radius: 4px;
  color: #FFBB55;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn:hover {
  background-color: #FFBB55;
  color: #fff;
}

.material-icons {
  margin-right: 8px;
}
