.profile-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #FFBB55;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 36px;

  img {
    border-radius: 50%;
    max-width: 100%;
  }
}

.profile-name {
  font-size: 24px;
  font-weight: 500;
}

.profile-bio {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  line-height: 1.5;
}

.profile-username {
  font-size: 16px;
  color: #666;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  .info-item {
    margin-right: 20px;
    text-align: center;

    .info-label {
      font-size: 14px;
      color: #666;
    }

    .info-value {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.tab-content {
  margin: 20px 0;
  text-align: left;
}

.explorer-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F1F5F9;
  cursor: pointer;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  //text-align: center;
}

.event {
  margin: 20px 0;
  padding: 10px 3rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

}

.event {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;


  border-bottom: 1px solid #ddd;
  .user-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 5rem;

  }
}

.event img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.event p {
  margin: 0;
}

.event .displayName {
  color: #3270B4;
  font-weight: bold;
}

.explorer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.follow-button-check {
  background-color:#5b5a59;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}


.follow-button {
  background-color: #3270B4;
  color: #fff;
  text-align: center;
  border: none;

  border-radius: 5px;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  i{
    font-size: 1rem;
  }
}

.follow-button i {
  //margin-right: 5px;
  margin: .1rem;
}

.follow-button:hover {
  background-color: #2980b9;
}

.container-follow {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: #3270B4;
    color: #fff;
    text-align: center;
    border: none;

    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    i {
      font-size: 1rem;
    }

  }
}

.update-profile {
  width: 100%;
  height: 2rem;
  color: #1da1f2;
  cursor: pointer;
}

