<section class="modal-container">
  <form [formGroup]="form">
    <small><i mat-dialog-close class="fa-solid fa-x"></i></small>
    <h1 mat-dialog-title>O que está pensando agora ?</h1>
    <div class="dialog-container">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Compartilhe com seus amigos</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            formControlName="content"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </p>
    </div>
    <div class="container-operations">
      <ng-template [ngIf]="isFile">
        <small>
          <i class="far fa-image"></i>
          {{ fileName }}
          <i class="fas fa-times" (click)="deleteImage()"></i>
        </small>
      </ng-template>

      <ng-template [ngIf]="showCardEmoji">
        <div class="emoji-container">
          <emoji-mart (emojiClick)="emoji($event)"></emoji-mart>
        </div>
      </ng-template>

      <label class="custom-file-upload">
        <i class="far fa-image"></i>
        <input type="file" (change)="handleFileInput($event)">
      </label>

      <i class="fa-regular fa-face-smile" (click)="openCarEmoji()"></i>

      <app-btn-global
        [buttonPadding]="'.5rem .3rem'"
        [titleButton]="'Publicar'"
        [buttonWidth]="'40%'"
        (click)="handlePostagem()"
      ></app-btn-global>
    </div>
  </form>
</section>
