section {
  padding: 1rem;

  small {
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }

  small i:hover {
    color: #FFBB55;
  }

  .dialog-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1rem;

    mat-form-field {
      height: 10rem;
      width: 20rem;
      max-width: 20rem;
      padding: 0;
      margin: 0;
    }
  }

  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    margin: .5rem;
    font-size: 1.2rem;
    //background: red;
    text-align: center;
  }

  .custom-file-upload i {
    margin-right: 8px;
  }

  .custom-file-upload input[type="file"] {
    display: none;
  }

  .container-operations {
    app-btn-global {
      padding-left: 7.5rem;
    }

  }
}



