<section>
  <app-loading-spinner *ngIf="loading" class="loading-spinner"></app-loading-spinner>
  <div *ngIf="!loading" class="profile-container">

    <div class="profile-content">
      <div class="profile-picture">
        <img src="{{user.profile.icon.url}}" alt="">
      </div>
      <div class="profile-name">{{user.profile.displayName}}</div>
      <div class="profile-username">@{{user.username}}</div>
      <div class="profile-bio" *ngIf="user.profile.bio">{{user.profile.bio}}</div>
      <div class="profile-info">
        <div class="info-item">
          <div class="info-label">Posts</div>
          <div class="info-value">{{user.postsCount}}</div>
        </div>
        <div class="info-item">
          <div class="info-label">Seguidores</div>
          <div class="info-value">{{user.followersCount}}</div>
        </div>
        <div class="info-item">
          <div class="info-label">Seguindo</div>
          <div class="info-value">{{user.followingsCount}}</div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <mat-tab-group>
        <mat-tab label="Postagens">
          <div class="tab-content" *ngFor="let post of mePosts">
            <app-post-card [id]="post.id" [content]="post.content" [createdAt]="post.createdAt"
              [updatedAt]="post.updatedAt" [userId]="post.userId" [repliesCount]="post.repliesCount"
              [likesCount]="post.likesCount" [username]="post.user.username"
              [displayName]="post.user.profile.displayName" [liked]="post.liked"
              [profilePicture]="post.user.profile.icon.url"></app-post-card>
          </div>
        </mat-tab>
        <mat-tab label="Curtidas"> Curtidas </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
