<div class="search-container">
  <h1>Buscar Usuários</h1>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Digite o nome do usuário</mat-label>
    <input [(ngModel)]="searchQuery" (input)="onSearchInput()" matInput cdkTextareaAutosize />
  </mat-form-field>
  <mat-spinner *ngIf="loading" class="loading-spinner"></mat-spinner>

  <ul class="user-list">
    <div *ngFor="let user of searchResults" (click)="getUserId(user?.id)">
      <li *ngIf="authUser.id != user?.id">
        <div class="user-info">
          <img [src]="user?.profile?.icon?.url ?? ''" alt="">
          <div class="user-details">
            <span>{{ user.profile.displayName }}</span>
            <p>@{{ user.username }}</p>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
