.publicacao {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  padding: 20px;

  &:hover {
    background-color: #f5f8fa;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
      background-color: #1da1f2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 24px;

      img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .user-details {
      .user-display-name {
        font-size: 1.2rem;
        font-weight: 700;
        color: #14171a;
      }

      .user-username {
        font-size: 1rem;
        color: #657786;
      }

      .post-time {
        font-size: 0.8rem;
        color: #657786;
      }
    }
  }

  .post-content {
    font-size: 1rem;
    color: #14171a;
    margin-bottom: 15px;
  }

  .post-attachments {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .attachment {
      width: 100px;
      height: 100px;
      margin-right: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 24px;
        margin-right: 5px;
        transition: color 0.3s ease;

        &.liked {
          color: #e0245e;
        }
      }

      span {
        font-size: 1rem;
        color: #657786;
      }
    }

    .comment-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 24px;
        margin-right: 5px;
        color: #657786;
      }

      span {
        font-size: 1rem;
        color: #657786;
      }
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .action {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 16px;
        margin-right: 5px;
        transition: color 0.3s ease;
      }

      small {
        font-size: 0.8rem;
      }
    }

    i.post-liked {
      color: rgb(249, 24, 128);
    }

    .fa-heart:hover {
      color: rgb(249, 24, 128);
    }
  }
}

.comments {
  .comment {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e1e8ed;

  }

  .comment-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .comment-content {
    flex: 1;
    margin-left: 10px;

    .comment-username {
      font-weight: 700;
      font-size: 1rem;
      color: #14171a;

      span {
        font-weight: normal;
        margin-left: 5px;
        color: #657786;
        font-size: 0.9rem;
      }
    }

    p {
      font-size: 0.9rem;
      color: #14171a;
      margin: 5px 0;
    }

    .comment-actions {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      margin-top: 5px;

      span {
        margin-right: 10px;
      }

      i {
        font-size: 1rem;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}

.post-comment {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.full-width {
  width: 100%;
}


.button-publish {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
